body {
    font-family: "Kanit", serif;
    font-weight: 800;
    font-style: normal;
}

.background-container{
    margin: auto auto;
    background-image: url("./pictures/background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 91px);
    border: 1px dashed lightcoral;
}

.section-1{  /*column1 */
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    align-items: center;
    width: 40%;
    border: 1px dashed lightcoral;
    height: 100%;
}
.section-2{  /*column1 */
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    align-items: center;
    width: 60%;
    border: 1px dashed lightcoral;
    /* height: 100%; */
}

.alphabet-container{
    border: 1px dotted white;
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columnas */
    gap: 15px; /* Espacio entre letras */
    margin: auto; /* Centra el contenedor si es necesario */
    padding: 4px;
}

#title,  #sub-title {
    color: white;
}

.phrase{
    width: 90%;
    border: 1px dashed lightcoral;
}

.alphabet-letter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 44px;
    border: 4px solid #0198fc;
    background-color: #57eaedee ;
    box-shadow: 5px 5px 5px 3px rgba(130, 15, 183, 0.492);
    border-radius: 8px;
    color: rgb(20, 20, 157);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.hidden-letter{
    border-bottom: 2px solid white;
    display: inline-block;
    padding: 8px;
    margin-left: 4px;
    width: 20px;
    color: rgba(255, 0, 0, 0);
    font-weight: 600;
}

.revealed-letter{
    border-bottom: 2px solid white;
    display: inline-block;
    padding: 8px;
    margin-left: 4px;
    width: 20px;
    color: white;
}

.special-char{
    border-bottom: none;
    display: inline-block;
    padding: 8px;
    margin-left: 4px;
    width: 20px;
    color: rgb(4, 4, 4);
}

.disabled{
    background-color: gray;
    cursor:default;
}

.balloon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.balloon {
    will-change: transform, top;
    width: 300px;
    height: 200px;
    display: block;
    border-radius: 50%;
    transform: scale(1);
    transition: top 1s ease-in-out, transform 1s ease-in-out; /* Transición suave de 1 segundo */
    animation: float 3s ease-in-out infinite;
    position: absolute;
}
.falling-0{
    top: 18vh;
    transform: scale(3);
}
.falling-1{
    top: 35vh;
    transform: scale(2.5);
}
.falling-2{
    top: 50vh;
    transform: scale(2);
}
.falling-3{
    top: 65vh;
    transform: scale(1.5);
}
.falling-4{
    top: 85vh;
    transform: scale(1);
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}